<form #newMovieForm="ngForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">   

    <!-- Název CZ -->
    <div class="nameCZ">

        <div class="labelColumn">
            <label [class.error]="!newMovie.nameCZ && nameCZ.touched" for="nameCZ">
                Název CZ: 
            </label>
        </div>

        <input #nameCZ="ngModel" [class.error]="!newMovie.nameCZ && nameCZ.touched" type="text" 
            name="nameCZ" id="nameCZ" [(ngModel)]="newMovie.nameCZ" required autocomplete="off">
    </div>

    <!-- Název EN -->
    <div class="nameEN">

        <div class="labelColumn">
            <label [class.error]="!newMovie.nameEN && nameEN.touched" for="nameEN">
                Název EN: 
            </label>
        </div>

        <input #nameEN="ngModel" [class.error]="!newMovie.nameEN && nameEN.touched" type="text" 
            name="nameEN" id="nameEN" [(ngModel)]="newMovie.nameEN" required autocomplete="off">
    </div>

    <!-- Datum premiéry -->
    <div class="releaseDate">

        <div class="labelColumn">
            <label [class.error]="!newMovie.releaseDate && releaseDate.touched" for="releaseDate">
                Datum premiéry: 
            </label>
        </div>

        <input #releaseDate="ngModel" [class.error]="!newMovie.releaseDate && releaseDate.touched" 
            type="date" name="releaseDate" id="releaseDate" [(ngModel)]="newMovie.releaseDate" required>
    </div>

    <!-- Výběr náhledového obrázku -->
    <div class="poster">

        <div class="labelColumn">
            <label [class.error]="posterFormatError">
                Náhledový obrázek: 
            </label>
        </div>

        <div class="container">

            <small class="error" *ngIf="posterFormatError">
                Zadaný soubor musí být ve formátu JPEG
            </small>
    
            <div #file (change)="processFiles($event.target.files, fileType.poster)">
    
                <label class="fileContainer hoverEffect">
                    <span>+ Přidat soubor</span>
                    <input class="hide" type="file">
                </label>
            </div>
        </div>
    </div>

    <!-- Výběr obrázků -->
    <div class="images">

        <div class="labelColumn">
            <label [class.error]="imagesFormatError">
                Obrázky: 
            </label>
        </div>

        <div class="container">

            <small class="error" *ngIf="imagesFormatError">
                Zadané soubory musí být ve formátu JPEG
            </small>

            <div id="files" #files (change)="processFiles($event.target.files, fileType.images)">
                    
                <label class="fileContainer hoverEffect">
                    <span>+ Přidat soubor</span>
                    <input class="hide" type="file">
                </label>
            </div>
        </div>
    </div>

    <!-- Platforma -->
    <div class="platform">

        <div class="labelColumn">
            <label [class.error]="!newMovie.platform && platform.touched">
                Platforma: 
            </label>
        </div>

        <select #platform="ngModel" [class.error]="!newMovie.platform && platform.touched" 
            name="platform" [(ngModel)]="newMovie.platform" required>

            <option *ngFor="let platform of platforms" value="{{platform.value}}">
                {{platform.name}}
            </option>
        </select>
    </div>

    <!-- Vybrané žánry -->
    <div class="selectedGenresContainer">
        <div *ngFor="let selectedGenre of selectedGenres; let index = index">
                    
            <button (click)="removeValue(index, selectedGenres)">
                {{selectedGenres[index]}}
            </button>
        </div>
    </div>
    
    <!-- Žánry -->
    <div class="genres">

        <div class="labelColumn">
            <label [class.error]="selectedGenres.length === 0 && genresElement.touched">
                Žánry: 
            </label>
        </div>

        <select #genresElement="ngModel" [class.error]="selectedGenres.length === 0 && genresElement.touched" 
            name="genreSelect" [(ngModel)]="genreSelect" (change)="addValue(genreSelect, selectedGenres)">

            <option *ngFor="let genre of genres; let index = index">{{genres[index]}}</option>
        </select>
    </div>

    <!-- ČSFD odkaz -->
    <div class="csfdLink">

        <div class="labelColumn">
            <label [class.error]="!newMovie.csfdLink && csfdLink.touched" for="csfdLink">
                ČSFD odkaz: 
            </label>
        </div>

        <input #csfdLink="ngModel" [class.error]="!newMovie.csfdLink && csfdLink.touched" 
            type="url" name="csfdLink" id="csfdLink" [(ngModel)]="newMovie.csfdLink" required autocomplete="off">
    </div>

    <!-- IMDb odkaz -->
    <div class="imdbLink">

        <div class="labelColumn">
            <label [class.error]="!newMovie.imdbLink && imdbLink.touched" for="imbdLink">
                IMDb odkaz: 
            </label>
        </div>

        <input #imdbLink="ngModel" [class.error]="!newMovie.imdbLink && imdbLink.touched" 
            type="url" name="imdbLink" id="imdbLink" [(ngModel)]="newMovie.imdbLink" required autocomplete="off">
    </div>

    <!-- Režie -->
    <div class="director">

        <div class="labelColumn">
            <label [class.error]="!newMovie.director && director.touched" for="director">
                Režie: 
            </label>
        </div>

        <input #director="ngModel" [class.error]="!newMovie.director && director.touched" 
            type="text" name="director" id="director" [(ngModel)]="newMovie.director" required autocomplete="off">
    </div>

    <!-- Vybraní herci -->
    <div class="selectedActorsContainer">
        <div class="selectedActors" *ngFor="let selectedActor of selectedActors; let index = index">

            <button (click)="removeValue(index, selectedActors)">
                {{selectedActors[index]}}
            </button>
        </div>
    </div>

    <!-- Přidat herce -->
    <div class="actors">

        <div class="labelColumn">
            <label [class.error]="selectedActors.length === 0 && !actorInput && actors.touched" for="actorInput">
                Hrají: 
            </label>
        </div>

        <input #actors="ngModel" [class.error]="selectedActors.length === 0 && !actorInput && actors.touched" 
            type="text" id="actorInput" name="actorInput" [(ngModel)]="actorInput" autocomplete="off">
        
        <button type="button" [class.error]="selectedActors.length === 0 && !actorInput && actors.touched" 
            id="actorButton" (click)="addValue(actorInput, selectedActors)">

            Přidat
        </button>
    </div>

    <!-- Obsah -->
    <div class="movieContent">

        <div class="labelColumn">
            <label [class.error]="!newMovie.content && content.touched" for="content">
                Obsah: 
            </label>
        </div>

        <textarea #content="ngModel" [class.error]="!newMovie.content && content.touched" rows="5" cols="20" name="content" id="content" [(ngModel)]="newMovie.content" required></textarea>
    </div>

    <!-- Odkaz video -->
    <div class="videoLink">

        <div class="labelColumn">

            <label [class.error]="!newMovie.videoLink && videoLink.touched" for="videoLink">
                Odkaz na video: 
            </label>
        </div>

        <input #videoLink="ngModel" [class.error]="!newMovie.videoLink && videoLink.touched" 
            type="url" name="videoLink" id="videoLink" [(ngModel)]="newMovie.videoLink" required autocomplete="off">
    </div>

    <button [class.disabled]="selectedGenres.length === 0 || selectedActors.length === 0 || !poster || images.length === 0 || newMovieForm.form.invalid" 
            [disabled]="selectedGenres.length === 0 || selectedActors.length === 0 || !poster || images.length === 0 || newMovieForm.form.invalid" id="submitButton" type="submit">
        
        Odeslat
     </button>

</form>