* {
    font-family: Consolas;
    color: #232344;
}

body {
    background: url(assets/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 5px 0px;
}