.searchBar img {
    position: absolute;
    width: 23px;
    margin: 13px 0px 0px 5px;
}

/*__________________________ Input __________________________*/
.searchBar input {
    margin: 8px 0px;
    border: 1px solid #808080;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.3rem;
    color: #232344;
    padding: 1px 0px 1px 33px;
}

.searchBar input:focus {
    outline: none;
}

/*__________________________ Hledané možnosti __________________________*/
.options {
    position: absolute;
    z-index: 1;
    background: #EEE;
    border: 1px solid #808080;
    padding: 0px 5px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1.2rem;
}

.language {
    background-color: #808080;
    margin: 0px -5px;
    padding: 3px 5px;
    font-weight: bold;
    color: #EEE;
    text-align: center;
}

.option {
    padding: 3px 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.option:hover {
    font-weight: bold;
    cursor: pointer;
}