<div class="searchBar" [style.width.px]="width">

    <img src="assets/search.png">

    <!-- Vstup pro hledání -->
    <input type="text" placeholder="Hledat..." [ngModel]="input" 
        (ngModelChange)="changeEvent($event); oldInput = $event">

    <div *ngIf="searchedMovieCZ.length || searchedMovieEN.length" 
        class="options" [style.width.px]="width">

        <!-- CZ výsledky -->
        <div *ngIf="searchedMovieCZ.length">
            <div class="language">CZ</div>

            <div class="option" *ngFor="let searchMovie of searchedMovieCZ">
                <div (click)="clickEvent(searchMovie.id)">{{searchMovie.nameCZ}}</div>
            </div>
        </div>

        <!-- EN výsledky -->
        <div *ngIf="searchedMovieEN.length">
            <div class="language">EN</div>

            <div class="option" *ngFor="let searchMovie of searchedMovieEN">
                <div (click)="clickEvent(searchMovie.id)">{{searchMovie.nameEN}}</div>
            </div>
        </div>
    </div>
</div>