<div class="movieDetail">

    <!-- Předchozí stránka -->
    <button (click)="previousPage()">
        <img src="assets/previous.png">
    </button>

    <div class="movieContainer">
        <div class="label">Přehled:</div>

        <!-- Náhledový obrázek -->
        <img src="data:image/JPEG;base64,{{movie.image}}">

        <div class="movieInfo">

            <!-- Název -->
            <span *ngIf="movie.nameCZ" class="nameCZ">{{movie.nameCZ}}</span> 
            <span class="nameEN">{{movie.nameEN}}</span>
            <span class="year">2020</span>

            <!-- Žánry -->
            <div class="genres">{{movie.genres.length === 1 ? "Žánr" : "Žánry"}}:
                <div *ngFor="let genre of movie.genres; let last = last">
                    <span class="genre">{{genre}}</span>
                    <span *ngIf="!last">&nbsp;/&nbsp;</span>
                </div>
            </div>

            <!-- Datum premiréry -->
            <div class="release">Premiéra: 
                <span>{{movie.releaseDate | date:"dd.MM.yyyy"}}</span>
            </div>

            <!-- Režisér -->
            <div class="director">Režie:
                <span>{{movie.director}}</span>
            </div>

            <!-- Herci -->
            <table>
                <tr>
                    <td>
                        <div class="actors">Hrají:</div>
                    </td>

                    <td>
                        <div class="actor" *ngFor="let actor of movie.actors; let last = last">
                            <span>{{actor}}</span>
                            <span *ngIf="!last">,&nbsp;</span>
                        </div>
                    </td>
                </tr>
            </table>

            <!-- Vysílací platforma -->
            <img class="platform" src="assets/platforms/{{movie.platform}}.png">
            
            <!-- IMDb -->
            <a class="imdb" href="{{movie.imdbLink}}">
                <img src="assets/platforms/imdb.png">
            </a>

            <!-- ČSFD -->
            <a class="csfd" href="{{movie.csfdLink}}">
                <img src="assets/platforms/csfd.png">
            </a>
        </div>
    </div>

    <!-- Obsah filmu -->
    <div class="movieContent">

        <div class="label">Obsah:
            <span class="copyright">&copy; 
                <a href="https://www.csfd.cz/">csfd.cz</a>
            </span>
        </div>

        <p>{{movie.content}}</p>
    </div>

    <!-- Video -->
    <div class="video">
        <div class="label">Video:
            <span class="copyright">&copy; 
                <a href="https://www.youtube.com/">youtube.com</a>
            </span>
        </div>

        <iframe [src]="movie.videoLink | safeUrl" allowfullscreen="allowfullscreen"></iframe>
    </div>

    <!-- Obrázky -->
    <div class="images">
        <div class="label">Obrázky:</div>

        <div *ngFor="let image of movie.images">
            <img src="data:image/JPEG;base64,{{image}}">
        </div>
    </div>
</div>