.movieDetail {
    width: 1100px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    background: #EEE;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

.label {
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    background: #232344;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 2px 7px;
    margin: -1px -1px 0px -1px;
}

/*__________________________ Předchozí stránka __________________________*/
.movieDetail button {
    display: flex;
    align-items: center;
    margin: -5px 0px 10px 0px;
    background-color: transparent;
    border: none;
}

.movieDetail button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.movieDetail button:focus {
    outline: none;
}

.movieDetail button img {
    width: 24px;
}

.movieDetail button div {
    font-size: 1.4rem;
    padding: 10px;
}

/*__________________________ Copyright __________________________*/
.copyright {
    color: white;
    float: right;
    font-weight: normal;
    font-size: 1rem;
    margin: 3px 0px 0px 0px;
}

.copyright a {
    color: white;
    text-decoration: none;
}

.copyright a:hover {
    text-decoration: underline;
}

/*__________________________ Přehled filmu __________________________*/
.movieContainer {
    position: relative;
    width: 1100px;
    border: 1px solid #BEBEBE;
    background: whitesmoke;
    border-radius: 4px;
    margin: 0px 0px 12px 0px;
}

.movieContainer img {
    float: left;
    margin: 17px;
    max-width: 160px;
    border-radius: 4px;
}

.movieInfo {
    float: left;
    padding: 10px 0px;
}

.nameCZ {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 10px 10px 20px;
    padding: 0px 20px 0px 0px;
    border-right: 3px solid black;
}

.nameEN {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 10px 10px 10px;
    padding: 0px 20px 0px 0px;
    border-right: 3px solid black;
}

.year {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 10px 10px 10px;
}

.genres, .release, .director {
    font-weight: bold;
    margin: 10px 20px;
    font-size: 1.2rem;
}

.genres div {
    display: inline-block;
}

.genres span, .release span:first-child, .director span {
    font-weight: normal;
} 
/*__________________________ Herci - table __________________________*/
table {
    position: relative;
    margin: 10px 20px;
    font-size: 1.2rem;
    width: 650px;
}

table tr td:first-child {
    width: 67px;
}

table .actors {
    position: absolute;
    top: 3px;
    left: 0;
    font-weight: bold;
}

table .actor {
    display: inline-block;
}

.platform {
    position: absolute;
    top: 30px;
    right: 10px;
}

/*__________________________ IMDb __________________________*/
.imdb img {
    position: absolute;
    top: 130px;
    right: 10px;
    height: 60px;
    padding: 0;
    margin: 0;
}

/*__________________________ ČSFD __________________________*/
.csfd img {
    position: absolute;
    top: 215px;
    right: 10px;
    padding: 0;
    margin: 0;
}

.imdb img:hover, .csfd img:hover {
    opacity: 0.8;
}

/*__________________________ Obsah filmu __________________________*/
.movieContent {
    float: left;
    border: 1px solid #BEBEBE;
    background: whitesmoke;
    border-radius: 4px;
    margin: 12px 0px;
}

.movieContent p {
    font-size: 1.05rem;
    padding: 0px 15px;
}

/*__________________________ Video __________________________*/
.video {
    width: 100%;
    border: 1px solid #BEBEBE;
    background: whitesmoke;
    border-radius: 4px;
    margin: 12px 0px;
}

.video iframe {
    border: none;
    border-radius: 4px;
    display: block;
    margin: 17px auto;
    width: 854px;
    height: 480px;
}

/*__________________________ Video __________________________*/
.images {
    width: 100%;
    border: 1px solid #BEBEBE;
    background: whitesmoke;
    border-radius: 4px;
    margin: 12px 0px;
}

.images img {
    display: table;
    margin: 20px auto;
    border-radius: 4px;
    max-width: 1060px;
}