<div *ngFor="let movie of movies">

    <a class="cell" routerLink="/detail/{{movie.id}}">

        <!-- Datum vydání -->
        <div class="dayContainer">
            <div class="day">{{movie.releaseDate | date: "dd"}}.</div>
            <div class="month">{{getMonth(movie.releaseDate | date: "MM")}}</div>
            <div class="year">{{movie.releaseDate | date: "yyyy"}}</div>
        </div>

        <!-- Informace o filmu -->
        <div class="movieContainer">
            <img src="data:image/JPEG;base64,{{movie.image}}">

            <div class="movieInfo">
                <span class="name">
                    {{movie.nameCZ}}
                    {{(movie.nameCZ ? "|" : "")}}
                    {{movie.nameEN}}
                </span>
    
                <!-- Režie -->
                <div class="director">Režie: 
                    <span>{{movie.director}}</span>
                </div>
    
                <!-- Žánry -->
                <div class="genres">{{movie.genres.length === 1 ? "Žánr" : "Žánry"}}:
                    <div *ngFor="let genre of movie.genres; let last = last">
                        <span>{{genre}}</span>
                        <span *ngIf="!last">&nbsp;/&nbsp;</span>
                    </div>
                </div>
    
                <!-- Herci -->
                <div class="actors">Hrají:
                    <div *ngFor="let actor of movie.actors | slice:0:4; let last = last;">
                        <span>{{actor}}</span>
                        <span *ngIf="!last">,&nbsp;</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Vysílací platforma -->
        <div class="platform">
            <img src="assets/platforms/{{movie.platform}}.png">
        </div>
    </a>
</div>