.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cell {
    display: flex;
    width: 600px;
    height: 80px;
    background: whitesmoke;
    border-radius: 4px;
    margin: 15px 0px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    animation: fadeIn .5s linear;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.cell:hover {
    opacity: 0.8;
    cursor: pointer;
}

.noHoverEffect:hover {
    opacity: 1;
    cursor: unset;
}

/*__________________________ Datum vydání __________________________*/
.dayContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    background: #232344;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.dayContainer .day, .dayContainer .month, .dayContainer .year {
    color: #EEE;
    font-size: 1.1rem;
    font-weight: bold;
}

.cell img {
    height: 80px;
}

/*__________________________ Informace o filmu __________________________*/
.movieInfo {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 80px;
}

.name {
    text-align: left;
    margin: 10px 0px 3px 7px;
    font-size: 1.4rem;
    font-weight: bold;
    width: 373px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.genres {
    text-align: left;
    width: 373px;
    margin: 1px 0px 0px 7px;
    font-weight: bold;
    font-size: 1.1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.genres div {
    display: inline-table;
}

.genres span {
    font-weight: normal;
}

.platform {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

.platform img {
    width: 60px;
    height: 60px;
}

/*__________________________ Předchozí, další filmy (tlačítka) __________________________*/
.nextMovies, .previousMovies {
    display: flex;
    justify-content: center;
    height: 40px;
}

.nextMovies button, .previousMovies button {
    background-color: transparent;
    border: none;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.nextMovies button:hover, .previousMovies button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.nextMovies button:focus, .previousMovies button:focus {
    outline: none;
}

.nextMovies button img, .previousMovies button img {
    width: 24px;
}

/*__________________________ Ověření __________________________*/
.verify {
    margin: 10px auto;
}

.verify .label {
    font-size: 1.1rem;
}

.verify .verifyNumber {
    margin: 0px 10px;
    font-weight: bold;
    font-size: 1.5rem;
}

.verify input {
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 2px 5px;
    font-size: 1.1rem;
    width: 55px;
}

.verify input:focus {
    outline: none;
}

/*__________________________ Tlačítka __________________________*/
button {
    text-align: left;
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    background: #232344;
    padding: 4px 7px;
    margin: 15px;
    border-radius: 4px;
    border: none;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

button:focus {
    outline: none;
}