.calendar {
    width: 1386px;
    display: table;
    margin: 0px auto;
    background: #EEE;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hide {
    display: none;
}

.title {
    float: left;
    font-weight: bold;
    font-size: 2.5em;
    margin: 0px 8px 20px 8px;
}

/*__________________________ Tooltip __________________________*/
.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #EEE;
    text-align: center;
    border-radius: 4px;
    padding: 5px 1px;
    position: absolute;
    z-index: 1;
    top: 160px;
    left: 175px;
    opacity: 0;
}

.nameContainer .tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }

.nameContainer:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition: opacity 0s linear 2s;
}

/*__________________________ Link na seznam __________________________*/
.listLink {
    float: right;
    margin: 3px 10px 0px 20px;
    padding: 6px 5px 2px 5px;
    border: 2px solid transparent;
    border-radius: 10px;
}

.listLink:hover {
    border: 2px solid black;
}

.listLink img {
    width: 30px;
}

/*__________________________ Předchozí, další měsíc (tlačítka) __________________________*/
.calendar button {
    margin: 0px 7px;
    float: right;
    background-color: transparent;
    border: none;
}

.calendar button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.calendar button:focus {
    outline: none;
}

.calendar button img {
    width: 25px;
}

/*__________________________ Dny v týdnu (panel) __________________________*/
.daysOfWeek {
    float: left;
    border: 1px solid #BEBEBE;
    background: #232344;
    border-radius: 4px;
    margin: 0 8px;
    padding: 5px 0;
    font-weight: bold;
}

.daysOfWeek div {
    text-align: center;
    color: white;
    width: 170px;
    float: left;
    margin: 0 18px 0 0;
    padding: 0 5px;
}

.daysOfWeek div:last-child {
    margin: 0;
}

/*__________________________ Dny v měsíci __________________________*/
.cell {
    position: relative;
    height: 200px;
    width: 170px;
    color: #808080;
    border: 1px solid #BEBEBE;
    background-color: whitesmoke;
    border-radius: 4px;
    float: left;
    margin: 8px;
    padding: 5px;
}

/*__________________________ Filmy __________________________*/
.movieFrame {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.movieFrame .nextMovie {
    position: absolute;
    margin: 60px 0px 0px 142px;
    z-index: 1;
}

.movieFrame .previousMovie {
    position: absolute;
    margin: 60px 0px 0px 5px;
    z-index: 1;
}

.previousMovie:hover {
    opacity: 0.7;
    cursor: pointer;
}

.movieFrame button img {
    width: 10px;
}

.movieWrapper {
    text-align: center;
}

/*__________________________ Film __________________________*/
.movie {
    width: 170px;
    float: left;
}

.movie a {
    text-decoration: none;
}

.movie img {
    max-width: 100px;
    max-height: 140px;
    border-radius: 4px;
    margin: 0px auto;
}

.movie .nameContainer {
    width: 168px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.nameContainer .name {
    height: 30px;
    font-weight: bold;
}

.nameContainer .name:hover {
    text-decoration: underline;
}