<div class="calendar">

    <div class="title">{{monthString}} {{year}}</div> 

    <!-- Seznam link -->
    <a routerLink="/seznam" class="listLink">
        <img src="assets/list.png">
    </a>

    <!-- Kalendář link -->
    <a routerLink="/kalendar" class="calendarLink">
        <img src="assets/calendar.png">
    </a>

    <!-- Další měsíc -->
    <button (click)="changeMonth(status.next)">
        <img src="assets/next.png">
    </button>

    <!-- Předchozí měsíc -->
    <button (click)="changeMonth(status.previous)">
        <img src="assets/previous.png">
    </button>

    <!-- Dny v týdnu -->
    <div class="daysOfWeek">
        <div>Pondělí</div>
        <div>Úterý</div>
        <div>Středa</div>
        <div>Čtvrtek</div>
        <div>Pátek</div>
        <div>Sobota</div>
        <div>Neděle</div>
    </div>

    <!-- Dny v měsíci -->
    <div *ngFor="let monthContent of moviesOfMonth">

        <div class="cell">{{monthContent.day}}

            <div class="movieFrame">

                <!-- Další film -->
                <button [ngClass]="{hide: monthContent.movies.length === 0 || monthContent.movies.length === 1, nextMovie: true}" 
                    (click)="changeMovie(monthContent.movies[0].id, status.next)">

                    <img src="assets/next.png">
                </button>

                <!-- Předchozí film -->
                <button [ngClass]="{hide: true, previousMovie: true}" 
                    (click)="changeMovie(monthContent.movies[0].id, status.previous)">

                    <img src="assets/previous.png">
                </button>

                <!-- Filmy -->
                <div *ngFor="let movie of monthContent.movies">

                    <!-- Nastavení šířky podle počtu filmů -->
                    <div #movieWrapper [movieID]="movie.id" 
                        [style.width.px]="movieElement.offsetWidth * monthContent.movies.length" 
                        class="movieWrapper">

                        <!-- Film -->
                        <div #movieElement class="movie">

                            <a routerLink="/detail/{{movie.id}}" [queryParams]="{month: month, year: year}">
                                <img src="assets/images/{{movie.imageFolder}}/poster.jpg"> <br>

                                <div class="nameContainer">
                                    <span class="name">{{movie.nameCZ}}</span>
                                    <span class="tooltip">{{movie.nameCZ}}</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>