<div class="list">

    <!-- Kalendář link -->
    <a routerLink="/kalendar" class="calendarLink">
        <img src="assets/calendar.png">
    </a>

    <!-- Seznam link -->
    <a routerLink="/seznam" class="listLink">
        <img src="assets/list.png">
    </a>

    <!-- Načíst předchozí filmy -->
    <div class="previousMovies" *ngIf="moviesPreviousCount !== moviesPreviousTotal">
        <button (click)="getMoreMovies(status.previous)">
            <img src="assets/previous.png">
        </button>
    </div>

    <!-- Předchozí filmy -->
    <app-movies [movies]="moviesPrevious"></app-movies>

    <!-- Další filmy -->
    <app-movies [movies]="moviesNext"></app-movies>

    <!-- Načíst další filmy -->
    <div class="nextMovies" *ngIf="moviesNextCount !== moviesNextTotal">
        <button (click)="getMoreMovies(status.next)">
            <img src="assets/next.png">
        </button>
    </div>
</div>