<div class="list">

    <!-- Seznam link -->
    <a routerLink="/seznam" class="listLink">
        <img src="assets/list.png">
    </a>

    <!-- Kalendář link -->
    <a routerLink="/kalendar" class="calendarLink">
        <img src="assets/calendar.png">
    </a>

    <!-- Odebrání filmu -->
    <button (click)="isRemoveMovieModalClosed = false" class="removeMovie">
        <img src="assets/minus.png">
    </button>

    <!-- Přidání filmu -->
    <button (click)="isNewMovieModalClosed = false" class="addMovie">
        <img src="assets/add.png">
    </button>

    <!-- Načíst předchozí filmy -->
    <div class="previousMovies" *ngIf="moviesPreviousCount !== moviesPreviousTotal">
        <button (click)="getMoreMovies(status.previous)">
            <img src="assets/previous.png">
        </button>
    </div>

    <!-- Předchozí filmy -->
    <app-movies [movies]="moviesPrevious"></app-movies>

    <!-- Další filmy -->
    <app-movies [movies]="moviesNext"></app-movies>

    <!-- Načíst další filmy -->
    <div class="nextMovies" *ngIf="moviesNextCount !== moviesNextTotal">
        <button (click)="getMoreMovies(status.next)">
            <img src="assets/next.png">
        </button>
    </div>
</div>

<!-- Modal pro přidání filmu -->
<div class="movieModal" *ngIf="!isNewMovieModalClosed">

    <div class="content">
        
        <!-- Záhlaví -->
        <div class="header">Přidat film:
            <button (click)="isNewMovieModalClosed = true">
                <img src="assets/close.png">
            </button>
        </div>

        <!-- Formulář pro přidání nového filmu -->
        <app-new-movie (isNewMovieModalClosed)="closeModal($event)"></app-new-movie>
    </div>
</div>

<!-- Modal pro odebrání filmu -->
<div class="movieModal" *ngIf="!isRemoveMovieModalClosed">

    <div class="content">

        <!-- Záhlaví -->
        <div class="header">Odebrat film:
            <button (click)="isRemoveMovieModalClosed = true">
                <img src="assets/close.png">
            </button>
        </div>

        <!-- Formulář pro odebrání filmu -->
        <app-remove-movie (isRemoveMovieModalClosed)="closeModal($event)"></app-remove-movie>
    </div>
</div>