.list {
    width: 1386px;
    display: table;
    margin: 0px auto;
    background: #EEE;
    border-radius: 10px;
    padding: 20px 20px 0px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*__________________________ Předchozí, další filmy (tlačítka) __________________________*/
.list button {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.list button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.list button:focus {
    outline: none;
}

.list button img {
    width: 24px;
}

.previousMovies {
    margin: 0px 0px -15px 0px;
}

.nextMovies {
    margin: -15px 0px 5px 0px;
}

/*__________________________ Link na seznam, kalendář __________________________*/
.listLink {
    float: right;
    margin: 0px 0px 5px 20px;
    padding: 6px 5px 2px 5px;
    border: 2px solid transparent;
    border-radius: 10px;
}

.calendarLink {
    float: right;
    margin: 0px 5px 5px 15px;
    padding: 6px 5px 2px 5px;
    border: 2px solid transparent;
    border-radius: 10px;
}

.listLink:hover, .calendarLink:hover {
    border: 2px solid black;
}

.listLink img, .calendarLink img {
    width: 30px;
}